# This file is a template, and might need editing before it works on your project.
# use the official gcc image, based on debian
# can use verions as well, like gcc:5.2
# see https://hub.docker.com/_/gcc/
image: rikorose/gcc-cmake

stages:
  - build
  - test
  - package

build:
  stage: build
  # instead of calling g++ directly you can also use some build toolkit like make
  # install the necessary build tools when needed
  before_script:
    - apt update && apt -y install libsqlite3-dev liblzma-dev
  script:
    - mkdir build
    - cd build
    - cmake .. -DCPACK_PACKAGE_CONTACT=jenkins@coruscate.nz -DCMAKE_BUILD_TYPE=Release
    - cmake --build . --parallel 2
  artifacts:
    expire_in: 2 hrs
    paths:
      - build/

# run tests using the binary built before
test:common:
  stage: test
  dependencies:
    - build
  script:
    - cd build/test/common
    - ./openrs-test-common --gtest_output=json
  artifacts:
    expire_in: 1 hour
    reports:
      junit: build/test/common/test_detail.json

test:game:
  stage: test
  dependencies:
    - build
  script:
    - cd build/test/game
    - ./openrs-test-game --gtest_output=json
  artifacts:
    expire_in: 1 hour
    reports:
      junit: build/test/game/test_detail.json

package:
  stage: package
  dependencies:
    - build
  script:
    - cd build
    - cmake --build . --target package
  artifacts:
    expire_in: 1 mos
    paths:
      - build/*.deb
